<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6okUjvrGLGBkbh2AJ_dOs-yXqGD3SngU</string>
	<key>GCM_SENDER_ID</key>
	<string>22192643386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMedia</string>
	<key>PROJECT_ID</key>
	<string>social-media-platform-97945</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-platform-97945.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22192643386:ios:12534e43a6018be07b8403</string>
</dict>
</plist>